out/
settings.json
.idea/
venv/
venv_win/
test/
modules/test/

modules/__pycache__
modules/functions/__pycache__
modules/functions/mainly/__pycache__
modules/functions/settings/__pycache__
modules/submenus/__pycache__
modules/utils/__pycache__
